<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      ng-app="hitlistApp">
<head>
    <title>Hitlist2</title>

    <link href="../css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
</head>
<body>
    <div th:include="common/header :: head">header</div>
    <div class="ng-view"></div>
    <div th:include="common/footer :: copyright">footer</div>

    <script src="../js/lib/jquery-1.11.0.min.js" th:src="@{/js/lib/jquery-1.11.0.min.js}"></script>
    <script src="../js/lib/angular.min.js" th:src="@{/js/lib/angular.min.js}"></script>
    <script src="../js/lib/angular-route.min.js" th:src="@{/js/lib/angular-route.min.js}"></script>
    <script src="../js/lib/bootstrap.min.js" th:src="@{/js/lib/bootstrap.min.js}"></script>
    <script src="../js/hitlistApp.module.js" th:src="@{/js/hitlistApp.module.js}"></script>
    <script src="../js/hitlist.controllers.js" th:src="@{/js/hitlist.controllers.js}"></script>
    <div th:replace="service/linkFormatter :: linkFormatterModule">code</div>
</body>
</html>